<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mpapps.clientside_dev_mrx">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAP7iDAT7ADdRjErFm6d1WZz5R4ybO4nd8" />

        <activity
            android:name=".View.StartActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".View.NewGameActivity" />
        <activity android:name=".View.MapActivity" />

        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Services.GeofenceTransitionsIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name=".Services.TimerService" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/channel_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".View.BootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.DetailedGameActivity" />
        <activity android:name=".View.WaitForStartActivity"></activity>

        <receiver
            android:name=".Services.GeofenceBroadcastReceiver"
            android:exported="true" >
            <!--<intent-filter>-->
                <!--<action android:name="com.mpapps.clientside_dev_mrx.Services.GeofenceBroadcastReceiver.ACTION_RECEIVE_GEOFENCE"/>-->
            <!--</intent-filter>-->
        </receiver>
    </application>

</manifest>